/*.row
{
	max-width: 1040px;
}*/

.menuitem
{
	/*padding: 30px;*/
	margin-bottom: 30px;
	color: inherit;
  background-image: url("http://unsplash.it/1933/200/?random");
  padding-top: 48px;
  padding-bottom: 48px
}

.menuitem h1,
.menuitem .h1 
{
  font-size: 67.5px;
  color: white;
  text-align: center;
 }
