<div class="row">
	
	<div ng-repeat="question in questions" ng-show="tab.isSet({{question.id}})">
		<header>
			<h3>{{question.title}}</h3>
		</header>
		<hr>
		<div class="col-md-12">
			<p><strong>{{question.text}}</strong></p>
		</div>

		<!-- <question-radio ng-show="question.type == 'radio'"></question-radio> -->

		<!-- <question-textarea ng-show="question.type == 'textarea'"></question-textform> -->

		<div class="radio" ng-repeat="responses in question.responses" ng-if="question.type == 'radio'">
			<label>
				<!-- Need to change to "responses.index" for cleaner html  -->
				<input type="radio" name="responsesRadio{{question.id}}" id="responese{{responses}}" value="{{responses}}"> {{ responses }}
			</label>
		</div>

		<div ng-repeat="responses in question.responses" ng-if="question.type == 'textarea'">	
			<blockquote class="blockquote">
				<p class="text-muted">{{ textResponse }}</p>
				<footer>Username here.</footer>
			</blockquote>
			<textarea name="responsesText{{question.id}}" id="" rows="5" class="form-control" ng-model="textResponse"></textarea>
		</div>

	</div>
</div>